#jupyterlab-citation-manager==1.0.0
bertopic==0.17.0
cuml-cu12==25.2.1
gensim==4.3.3
ipython==8.34.0
ipywidgets==8.1.5
#lab_pytools==0.0.0
langchain==0.3.21
langchain-community==0.3.20
langchain-core==0.3.46
nltk==3.9.1
numpy==1.26.4
octis==1.14.0
pandas==2.2.3
panel==1.8.4
Pillow==12.0.0
plotly==6.0.1
Requests==2.32.5
scikit_learn==1.7.0
sentence_transformers==5.2.0
spacy==3.8.4
tokenizers==0.21.1
torch==2.6.0
transformers==4.49.0
urllib3==2.3.0
fr_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_lg-3.8.0/fr_core_news_lg-3.8.0-py3-none-any.whl
panel
linkify-it-py
jupyter_bokeh
dask==2024.12.1
widgetsnbextension==4.0.13
